<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Cloudoodle needs camera access to detect clouds and create AR drawings in the sky</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cloudoodle needs your location to provide accurate weather information</string>
	<key>NSMotionUsageDescription</key>
	<string>Cloudoodle uses motion sensors to detect when your camera is pointed at the sky</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Cloudoodle sends you fun notifications when others spot interesting cloud formations in your area</string>
	<key>CFBundleDisplayName</key>
	<string>Cloudoodle</string>
	<key>CFBundleName</key>
	<string>Cloudoodle</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>LaunchImage</string>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
